<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Finleap Application Test Automation Test Suite">

	<test name="Finleap Web Test Cases">
		<classes>
			<!-- <class name="com.fin.qa.testcases.SignupPageTest"></class> -->
			<class name="com.fin.qa.testcases.LoginTest"></class>
			<class name="com.fin.qa.testcases.HomeTest"></class>

		</classes>
	</test>
</suite>